<mat-card>
    <h1>UPDATE QUESTION</h1>
    <form action="" #updateque="ngForm">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Question id :</mat-label>
            <input type="text" matInput [(ngModel)]="update.question_id" name="question_id">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Content:</mat-label>
            <input type="text" matInput [(ngModel)]="update.content" name="content">
        </mat-form-field>
        <!-- <mat-form-field class="full-width" appearance="fill">
            <mat-label>Image:</mat-label>
            <input type="text" matInput name="image">
        </mat-form-field> -->
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Option1:</mat-label>
                    <input type="text" matInput [(ngModel)]="update.option1" name="option1">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Option2:</mat-label>
                    <input type="text" matInput [(ngModel)]="update.option2" name="option2">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Option3:</mat-label>
                    <input type="text" matInput [(ngModel)]="update.option3" name="option3">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Option4:</mat-label>
                    <input type="text" matInput [(ngModel)]="update.option4" name="option4">
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Answer:</mat-label>
            <mat-select matInput [(ngModel)]="update.answer" name="answer">
                <mat-option *ngIf="update.option1" [value]="update.option1"> {{update.option1}} </mat-option>
                <mat-option *ngIf="update.option2" [value]="update.option2"> {{update.option2}} </mat-option>
                <mat-option *ngIf="update.option3" [value]="update.option3"> {{update.option3}} </mat-option>
                <mat-option *ngIf="update.option4" [value]="update.option4"> {{update.option4}} </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="full-width" appearance="fill">
            <mat-label>Given Answer:</mat-label>
            <input type="text" matInput formControlName="givenAnswer">
        </mat-form-field> -->
        <!-- <mat-form-field class="full-width" formGroupName="quiz" appearance="fill">
            <mat-label>Quiz</mat-label>
            <mat-select formControlName="quiz_id">
                <mat-option [value]="a.quiz_id" *ngFor="let a of allquize">
                    {{a.title}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <button mat-flat-button color="primary" class="my-3" (click)="updatequestion()">UPDATE QUESTION</button>
    </form>
</mat-card>