<h1 class="my-3  text-secondary">ALL ACTIVE QUIZZES OF ALL CATEGORIES.</h1>
<mat-card class="my-3" *ngFor="let a of allquiz">
    <mat-card-header>
        <mat-icon></mat-icon>
        <span class="h3 my-1">{{a.title}}</span>
    </mat-card-header>
    <mat-card-content>
        <h2 class="p-0">{{a.description}}</h2>
    </mat-card-content>
    <mat-card-footer>
        <div class="row">
            <div class="col-md-3 my-2 mx-2"><mat-card class=""><h4><span class="">Max Marks : {{a.maxMarks}}</span> </h4></mat-card></div>
            <div class="col-md-3 my-2"><mat-card><h4><span>Total number of questions : {{a.numberOfQuestions}}</span></h4></mat-card></div>
        </div>
    </mat-card-footer>
</mat-card>
